<a href="/products">Products</a>
<a href="/bookstores">Bookstores</a>
<a href="/customers">Customers</a>
<a href="/sales">Sales</a>
<a href="/products_bookstores">Product:Bookstore</a>

<h2>Products</h2>

{{#each foo}}
{{this}}
{{/each}}
<table border=1px >
    <thead> 
        <th>ID:</th>
	<th>Name</th> 
        <th>Category</th> 
        <th>Author</th>
        <th>Quantity</th>
	<th>Condition</th>
	<th>Price</th>
	<th>Edit</th>  
    </thead> 
    <tbody> 
        <tr>
		<td nowrap>sort by:<br><button>Asc</button><button>Desc</button></td>
		<td nowrap>sort by:<br><button>Asc</button><button>Desc</button></td>
		<td nowrap>sort by:<br><button>Asc</button><button>Desc</button></td>
		<td nowrap>sort by:<br><button>Asc</button><button>Desc</button></td>
		<td nowrap>sort by:<br><button>Asc</button><button>Desc</button></td>
		<td nowrap>sort by:<br><button>Asc</button><button>Desc</button></td>
		<td nowrap>sort by:<br><button>Asc</button><button>Desc</button></td>
	</tr>

	{{#each products}} 
        <tr> 
            <td>{{id}}</td> 
            <td>{{Name}}</td> 
            <td>{{Category}}</td> 
            <td>{{Author}}</td>
	    <td>{{Quantity}}</td>
	    <td>{{Condition}}</td>
	    <td>{{Price}}</td>
            <td><a id="Modify" href="/products/{{id}}">Update</a><button id="Remove" onclick="deleteProduct({{id}})">Delete</button></td>
        </tr> 
        {{/each}} 
    </tbody> 
    </table>

    <br>
	<h3>Add New Product</h3>

    <form id="addproduct" action="/products" method="post">
    	Name: <input type="text" name="Name"><br>
    	Category: <input type="text" name="Category"><br>
    	Author: <input type="text" name="Author"><br>
    	Quantity: <input type="text" name="Quantity"><br>
    	Condition: <input type="text" name="Condition"><br>
    	Price: <input type="text" name="Price"><br> 

    	<button type="submit" value="Submit">Add Product</button>
    </form>

