<h1>Update <br>"{{products_bookstores.pName}}" : "{{products_bookstores.bName}}" <br> relationship:</h1>
<form id="update-product_bookstore" onsubmit="updateProduct_Bookstore({{products_bookstores.pid}}, {{products_bookstores.bid}})">
    Product ID: <input type="number" name="product_id" min=1 value="{{products_bookstores.pName}}"><br>
    Bookstore ID: <input type="number" name="bookstore_id" min=1 value="{{products_bookstores.bName}}"><br>

    <input type="submit" value="Update">
</form>
