<h1>Update <br>"{{products_sales.pName}}" : "{{products_sales.sName}}" <br> relationship:</h1>
<form id="update-product_sale" onsubmit="updateProduct_Sale({{products_sales.pid}}, {{products_sales.sid}})">
    Product ID: <input type="number" name="product_id" min=1 value="{{products_sales.pName}}"><br>
    Sale ID: <input type="number" name="sale_id" min=1 value="{{products_sales.sName}}"><br>

    <input type="submit" value="Update">
</form>
