<h1>Update Sale #"{{sales.id}}":</h1>
<form id="update-sale" onsubmit="updateSale({{sales.id}})">
    <label>Bookstore:</label>
            <select id="sale-selector" name="b_id">
                {{#each bookstores}}   
                    <option value="{{id}}">{{Name}}</option>
                {{/each}}
            </select><br>
    <label>Customer:</label>
            <select id="sale-selector" name="c_id">
                {{#each customers}}
                    <option value="{{id}}">{{Name}}</option>
                {{/each}}
            </select><br>
    
    Sale Price: <input type="number" min=0 step=".01" name="Sale_Price" value="{{sales.Sale_Price}}" required><br>
    Sale Date: <input type="date" name="Sale_Date" value="{{sales.Sale_Date}}" required><br>
    
    <script defer>selectSale({{sales.Bookstore_id}})</script>
    
    <input type="submit" value="Update">
</form>