<!DOCTYPE html5>

<h1>Update "{{products.Name}}":</h1>
<form id="update-product" onsubmit="updateProduct({{products.id}})">
    Name: <input type="text" name="Name" value="{{products.Name}}" required><br>
    
    <label>Category:</label>
                <select name = "Category" value="{{products.Category}}" required>
                    <option name = Category value = "Novel">Novel</option>
                    <option name = Category value = "Short Story">Short Story</option>
                    <option name = Category value = "Book on CD/Tape">Book on CD/Tape</option>
                    <option name = Category value = "DVD">DVD</option>
                    <option name = Category value = "Magazine">Magazine</option>
                    <option name = Category value = "Picture Book">Picture Book</option>
                    <option name = Category value = "Other">Other</option>
                </select><br>
    
    Author: <input type="text" name="Author" value="{{products.Author}}" required><br>

    Condition: 
        <input type="radio" name="Condition" value="New" checked>New
        <input type="radio" name="Condition" value="Used">Used<br>

    Price: <input type="number" name="Price" min="0.01" step=".01" value="{{products.Price}}" required><br>
    
    <input type="submit"  value="Update">
</form>
