<h1>Update "{{customers.Name}}":</h1>
<form id="update-customer" onsubmit="updateCustomer({{customers.id}})">
    Name: <input type="text" name="Name" value="{{customers.Name}}"><br>
    Address: <input type="text" name="Address" value="{{customers.Address}}"><br>
    Phone "xxx-xxx-xxxx": <input type="text" name="Phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" value="{{customers.Phone}}"><br>

    <input type="submit" value="Update">
</form>

